
.product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
    row-gap: 15px;
}

.productItem {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 8px 6px;
}

.image {
    width: 220px;
    display: block;
    margin: 0 auto;
}