.page {
  height: 100%;
  width: 100%;
}

.window {
  width: 480px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  margin-bottom: 24px;
}

.wrapper {
  display: flex;
  width: 480px;
  column-gap: 8px;
}

.menu {
  width: 320px;
}

.profileWrapper {
  display: flex;
  width: auto;
  position: absolute;
  top: 30%;
  left: 20%;
  column-gap: 60px;
}

.order_details_wrapper {
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.statusMessage {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.statusMessage.visible {
  opacity: 1;
}

.link {
  text-decoration: none;
  color: white;
}
