.header {
    margin: 0 auto;
    margin-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
}

.link {
    text-decoration: none;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.navBar {
    column-gap: 8px;
    display: flex;
    display: flex;
    flex: 1;
    justify-content: flex-start; 
}

.logoWrapper {
    display: flex;
    justify-content: center;
    flex: 1;
}

.rightNavBar {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.icon {
    display: block;
}

.link_active, .link_active .linkText {
    color: white;
}
